openstack-demo/compute.json apispec=openapi service=compute
openstack-demo/identity.json apispec=openapi service=identity
openstack-demo/image.json apispec=openapi service=image
openstack-demo/placement.json apispec=openapi service=placement
openstack-demo/volume.json apispec=openapi service=volume
