compute.yaml apispec=openapi service=compute
identity.yaml apispec=openapi service=identity
image.yaml apispec=openapi service=image
placement.yaml apispec=openapi service=placement
volume.yaml apispec=openapi service=volume
